Predicting house prices using multiple linear regression

In [15]:
#importing the required packages
import pandas as pd
from sklearn import linear_model

In [28]:
#reading file
df = pd.read_excel('linear_regression.xlsx')
print(df)

   Number  Carpet_area  Roomcount  Building age  Price
0       1          678          2             3  60000
1       2          436          2             5  33000
2       3          345          1             5  38000
3       4          866          3             3  86000
4       5          765          3             2  64000
5       6          545          2             1  51000
6       7          795          2             4  78000

In [21]:
#checking datatypes
df.dtypes

Number          int64
Area            int64
Roomcount       int64
Building age    int64
Price           int64
dtype: object

In [29]:
df['Carpet_area']

0    678
1    436
2    345
3    866
4    765
5    545
6    795
Name: Carpet_area, dtype: int64

In [30]:
df[['Carpet_area','Roomcount','Building age']]

   Carpet_area  Roomcount  Building age
0          678          2             3
1          436          2             5
2          345          1             5
3          866          3             3
4          765          3             2
5          545          2             1
6          795          2             4

In [12]:
df[['Price']]

   Price
0  60000
1  43000
2  38000
3  86000
4  74000
5  51000
6  78000

In [31]:
# define linear regression model
reg =linear_model.LinearRegression()
reg.fit(df[['Carpet_area','Roomcount','Building age']],df['Price'])

LinearRegression()

In [32]:
# predicticting of estimated price
reg.predict([[678,2,3],[436,2,5],[866,3,3],[765,3,2],[795,2,4]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([65353.72255153, 35936.9537067 , 79104.14595954, 66859.26260295,
       79541.18376606])

In [33]:
# liner regression coefficient
reg.coef_

array([  121.41111612, -9074.86642285,   -17.6393717 ])

In [34]:
# intercept of linear regression
reg.intercept_

1239.6367818614672

In [35]:
#multiple linear regression formula
#y = a+ b1x1 +b2x2
a=reg.intercept_
b1= reg.coef_[0]
b2= reg.coef_[1]
b3=reg.coef_[2]
x1= 678
x2= 2
x3= 3
y= a + b1*x1 + b2*x2
y

65406.64066661356